@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=PT+Serif&display=swap');

html {
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 2rem 0;
}
